h2>a{
  text-decoration: none;
  /* use rick and morty palette colors for the title */
  color: #ffb74d;
  font-size: 1.1em;
}




.charactercontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.characteritem{
  width: 24%;
  margin: 1%;
  padding: 1%;
  border: 1px solid #24325FFF;
  /* align text at the center of the border */
  display:flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}

.characteritem>a{
  text-decoration: none;
  color: #24325FFF;
  font-size: 1.1em;
  cursor:pointer;
}






/* .content {
  padding: 16px;
} */

/* .content > mat-card {
  width: 200px;
} */

/* .content > mat-card > img{
  text-align:center;
} */

/*
 */

 * {
  font-size: 15px;
}

mat-card {
  margin: 5px;
  color: #44281d;
  background-color: #97ce4c;
}

mat-card-subtitle {
  color: #44281d;
}

.mat-card-header {
  display: block;
  text-align: center;
}

.container {
  width: 80%;
  /* margin-left: auto;
  margin-right: auto; */
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-flow: column wrap; */
}

.cardItem {
  /* margin-bottom:60px; */
  flex: 1 0 30%;
  max-width: 30%;
}

.mat-card-xl-image {
  float: left;
  margin: 0;
  padding-right: 2%;
}

.mat-card-content {
  /* display:block; */
  /* text-align:center; */
}
.mat-card-content > div {
  /* text-align:center; */
  /* justify-content: center; */
  /* align-items: center; */
  /* display:flex; */
  /* border: 1px solid; */
}

.characterInfo > div {
  margin-bottom: 1%;
  /* display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center; */
}
.mat-icon {
  font-size: 12px;
  height: 12px;
  width: 12px;
}



.mat-progress-spinner {
  z-index: 50;
  top: 50%;
  position: fixed;
  left: 50%;
}

span {
  padding-right: 1rem;
}

/* .mat-card-content.cardItem */

.mat-card-content > div > img {
  float: left;
  padding-right: 0.5vw;
}

.singleCharacter {
  /* display:flex;
  flex-direction:column;*/
  justify-content: center;
  align-items: center;
}

.singleCardItem {
  flex: 1 0 40%;
  max-width: 40%;
}


.gray {
  /* color:#526E2DFF */
  color:lightgray!important

}

@media only screen and (max-width: 1280px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .cardItem {
    /* margin-bottom:60px; */
    flex: 1 0 30%;
    max-width: 30%;
  }
  .mat-card-content > div > img {
    max-width: 220px;
    padding-right: 0.5vw;
  }
}
